<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>SPARTA GYM</title>
    <link rel="stylesheet" href='/css/register.css'>
    <script src="https://kit.fontawesome.com/5b8d0b6d80.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="logo-and-login-header">
            
            <i class="fas fa-bars menu-icono"></i>
            
            <a href="/" class="logo">
            <img  src="/images/logo2.jpg" alt="LOGO">
            </a>

            <nav class="login-and-cart-icons">
                <a href="login"><i class="fas fa-user-circle"></i></a>
                <a href="carrito"><i class="fas fa-shopping-cart"></i></a>
            </nav>
        </section>

        <div class="contenedor-banner">
        <img class="banner" src="/images/banner1.jpg" alt="banner">
        </div>
    
       </header>
    
    <main class="main">

    
    <div class="contenedor-form">
      <form style="text-align: center"><br>
        <h3>Registrate</h3>  
        <input type="text" name="nombre-usuario" id="nombre-usuario" minlength="6" required placeholder="Nombre de usuario"><br> 
        <input type="text" name="nombre-apellido" id="nombre-apellido" minlength="6" required placeholder="Nombre completo">
        <input type="text" name="direccion" id="direccion" minlength="6" required placeholder="Dirección">  
        <input type="text" name="ciudad" id="ciudad" minlength="6" required placeholder="Ciudad o localidad">  
        <input type="text" name="mail" id=mail placeholder="Correo electrónico" required>
        <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required><br>

        <input type="password" name="contraseña" id="contraseña" placeholder="Confirmar contraseña" required><br>
    
<button type="submit" name="enviar" value="enviar" class="boton">Enviar</button>

</div>


</form>
<footer>
    <nav class="footer_nav_bar">
        <a href="#">Preguntas Frecuentes</a>
        <div class="redes">
            <p>Buscanos en las redes </p> 
            <i class="fas fa-angle-double-right"></i>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
        </div>
        <h4 id="copyright">Todos los derechos reservados Sparta Gym S.R.L.</h2>
    </nav>
   
</footer>
</body>
</html>