* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Oswald', sans-serif;
    
}

body{
    background-color: #f1fdff
}

/* HEADER: */

.main-header /*LOGO Y USER NAV BAR*/{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FF1E00;
   }

.logo img{
    max-width: 100%;
}
.logo{
    max-width: 30%;
    }

.user-nav-bar{
    width: 70%;
    text-align: end;
    padding-top: 18%;
    padding-right: 10px;
    }

.user-nav-bar a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 4px
    }

/*NAVEGACION: BUSCADOR Y SECCIONES*/

.search-bar{
   text-align: center;
        }

.search-bar input {
    width: 75%;
    height: 2rem;
    font-size: 1rem;
    background-color: #D3D3D3;
    border: none;
    margin-top: 30px;
   }

.search-bar i {
    color: #FF1E00;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #D3D3D3;
     
}

::-webkit-input-placeholder { 
    color: black;
    }


.search-and-nav {
    background-image: url('/images/banner1.jpg');
    background-size: cover;
    height: 250px
}

.menu {
    text-align: center;
}

.menu form{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.menu input{
    margin: 10px;
    text-align: center;
    background-color: #D3D3D3;
    border: none;
    width: 40%;
    padding: 3px;
    font-size: 1rem;
    }

/*---- Forms---------*/

    .main input[type=text] {
        width: 80%;
        padding: 8px 12px;
                box-sizing: border-box;
        margin: 8px 8px;
        }

 .main input[type=password] {
    width: 80%;
    padding: 8px 12px;
    margin: 8px 8px;
    box-sizing: border-box;
    }
  
 .main input[type=checkbox]{
    margin: 0px;
    
 }   
.main a{margin: 6px 8px}            
.recuerdame{
    width: 95%;
    margin: 6px 8px; 
    display: flex;
   justify-content: space-around;
   display: flex;
   
   align-items: center;
}

.boton {
    width: 80%;
        padding: 8px 12px;
        margin: 6px 8px; 
        box-sizing: border-box;
        background-color:  #FF1E00;
        font-size: 1.1rem;
}      

    /*FOOTER*/

    .footer_nav_bar{
        text-align: center;
        margin: 30px 0;
        
    }

    .footer_nav_bar a {
        display: block;
        margin: 8px;
        color: black;
        text-decoration: none;
    }

    .footer_nav_bar i{
        font-size: 30px;
        color: blue;
    }