* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Noto Sans', sans-serif;
}

body{
   background-color:  white;
}

/* HEADER: */


/* Seccion "logo-and-login-header" (Barra superior con menu, logo, iconos): */

.menu-icono {
    color: #BF1A20;
    padding: 15px;
    font-size: 1.2em;
}


.logo-and-login-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
   }

.logo img{
    max-width: 100%;
}
.logo{
    max-width: 60%;
    }

.login-and-cart-icons{
    padding-top: 10px;
    padding-right: 10px;
    }

.login-and-cart-icons a {
    color: #BF1A20;
    font-size: 1.2em;
    padding: 5px
    }

.banner{
    width: 100%;
}

/*Seccion "search-and-nav" (BANNER Y BUSCADOR)*/

.search-bar{
   text-align: center;
   padding-top: 8px;
   height: 8vh;
  }

.search-bar input {
    font-size: 1em;
    background-color: white;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
    border-left: none;
    margin-left: -6px;
    border-radius: 0 5px 5px 0;
    padding: 3.5px 0 2px 10px;
    width: 65%;
   }

.search-bar i {
    color: #BF1A20;
    padding: 7px 2px 4.5px 45px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px 0 0 5px;
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-bottom: black solid 2px;
    border-right: none;
}

::placeholder { 
    color: black;
    font-size: 0.8em;
    }

/* MAIN: */

/*Seccion "destacados" (Productos destacdos)*/

    .destacados img{
        width: 90%;
        text-align: center;
    }

    .destacados article{
        text-align: center;
        margin: 20px;
        padding: 15px;
        box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.527);
        background-color: rgba(0, 0, 0, 0.062);
    }

    .nombre_producto {
        text-decoration: none;
        color: #BF1A20;
        font-size: 0.7em;
    }

    .precios{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5px;
    }

    .precio-sin-dto {
        font-size: 0.8em;
        font-weight: bolder;
        padding-bottom: 15px;
        color: RGB(213, 126, 46);
        padding-right: 10px;
        text-decoration: line-through;
    }

    .precio-final{
        font-size: 1.2em;
        font-weight: bolder;
        padding-bottom: 15px;
        color: RGB(213, 126, 46);
    }

    .detalles {
        text-decoration: none;
        font-size: 0.7em;
        color: rgb(45, 131, 70);
    }

    main h1 {
        margin: 18px 0 8px 10px;
        color: #BF1A20;
        font-size: 1em;
    }

    .flecha {
        color: #BF1A20;
        font-size: 1em;
        padding: 5px;
    }

/*FOOTER*/

    .footer_nav_bar{
        text-align: left;
        background-color: rgba(0, 0, 0, 0.089);
        padding: 15px;
             
    }

    .footer_nav_bar a {
        display: block;
        color: black;
        text-decoration: none;
    }

    .fa-facebook-square{
        font-size: 30px;
        color: blue;
        padding-left: 5px;
    }

    .fa-instagram {
        font-size: 30px;
        color: purple;
        padding-left: 10px;
    }

    .redes{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-top: 10px;
    }   

    .fa-angle-double-right {
        padding: 6px;
        color: black;
        font-size: 0.7em;
    }



    #copyright {
        font-size: 0.6em;
        padding: 35px 0 5px 0;
        color: black;
        text-align: right;
    }

    @media (min-width: 768px){
        .search-bar i {
            padding: 6.5px 2px 4.5px 45px;
        }

        .logo-and-login-header{
            height: 10vh;
            padding-top: 8px;
        }

        .logo img{
            height: 60%;
            padding-left: 50px;
            margin-top: -10px;
        }

        .menu-icono {
            padding: 12px;
            font-size: 1.8em;
        }

        .login-and-cart-icons
        {
            font-size: 1.3em;
        }

        .destacados{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .destacados article{
            width: 40%;
        }
    }

    @media (min-width: 1200px){
        .logo img {
            height: 10vh;
            padding-left: 0;
        }

        .menu-icono{
            font-size: 2em;
            padding: 15px 0 0 30px;
        }

        .login-and-cart-icons
        {
            font-size: 1.8em;
            padding: 8px 26px 0 0;
        }
        
        .banner{
            max-height: 50vh;
        }

        .destacados article{
            width: 22%;
        }

        
    }


 
