* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Oswald', sans-serif;
    
}

body{
   background-color: #D3D3D3;
}

/* HEADER: */

.main-header /*LOGO Y USER NAV BAR*/{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FF1E00;
   }

.logo img{
    max-width: 100%;
}
.logo{
    max-width: 30%;
    }

.user-nav-bar{
    width: 70%;
    text-align: end;
    padding-top: 18%;
    padding-right: 10px;
    }

.user-nav-bar a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 4px
    }

/*NAVEGACION: BUSCADOR Y SECCIONES*/

.search-bar{
   text-align: center;
    
    }

.search-bar input {
    width: 75%;
    height: 2rem;
    font-size: 1rem;
    background-color: #D3D3D3;
    border: none;
    margin-top: 30px;
   }

.search-bar i {
    color: #FF1E00;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #D3D3D3;
     
}

::-webkit-input-placeholder { 
    color: black;
    }


.search-and-nav {
    background-image: url('/images/banner1.jpg');
    background-size: cover;
    height: 40vh;

}

.menu {
    text-align: center;
}

.menu form{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.menu input{
    margin: 10px;
    text-align: center;
    background-color: #D3D3D3;
    border: none;
    width: 40%;
    padding: 3px;
    font-size: 1rem;
    }




