<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>SPARTA GYM</title>
    <link rel="stylesheet" href='/css/styles.css'>
    <script src="https://kit.fontawesome.com/5b8d0b6d80.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">  
</head>
<body>
    <header>
        <section class="main-header">
            <div class="logo">
            <img class="logo" src="/images/logo-Sparta.png" alt="LOGO">
            </div>

            <nav class="user-nav-bar">
                <a href="#"><i class="fas fa-user-circle"></i></a>
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </nav>
            
        </section>

        <div class="search-bar">
            <form action="/home" method="GET">
                <i class="fas fa-search icono"> </i> 
                <input type="text" name="busqueda" placeholder="Buscar productos, marcas y más"
            </form>
        </div>

            

        </div>
            <nav class="nav-bar">
            <a href="#">Productos</a>
            <a href="#">Packs</a>
            <a href="#">Indumentaria</a>
            <a href="#">Máquinas</a>
            <a href="#">Accesorios</a>
            <a href="#">Clases online</a>
            <a href="#">Quiénes somos</a>
            <a href="#">Contacto</a>
            </nav>
            </div>
        </header>
    <main>
        <section class="destacados">
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
            <article>
                <img src="#" alt="producto">
                <h2 class="nombre_producto">Nombre del producto</h2>
                <p class="descripcion_producto">Descripción del producto</p>
                <form action="#">
                    <button>Agregar al carrito</button>
                </form>
            </article>
        </section>
    </main>

    <footer>
        <nav class="footer_nav_bar">
            <a href="#">Trabajá con nosotros</a>
            <a href="#">Preguntas Frecuentes</a>
            <div class="redes">
                <a href="#">Buscanos en las redes</a>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
            </div>
        </nav>
        <h4 id="copyright">Todos los derechos reservados Sparta Gym S.R.L.</h2>
    </footer>
</body>
</html>